.italic {
	font-style: italic;
}

.modal{
	overflow: scroll;
}

.details-header{
	margin-left: 300px !important;
	margin-top: -5px;
	font-size: 21px !important;
	color: #7c5cc4;
	position: relative;
}

.details-note{
	margin-top: -24px;
    padding-left: 370px;
    font-size: 13px;
    font-style: italic;
}

.white-text {
	color: #FFF !important
}

.btn-pos {
	background-color: #00a65a;
	border: 2px solid #00a65a;
	line-height: 40px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	text-decoration: none !important;
}

.btn-pos:hover {
	background-color: transparent;
	border: 2px solid #00a65a;
	color: #00a65a !important;
}

.colored-box {
	background-color: #FFF;
	border: 1px solid #ddd;
	box-shadow: 0 10px 20px rgba(51, 51, 51, 0.1);
	margin-bottom: 25px;
	padding: 15px;
	color: #333;
	min-height: 250px;
	overflow: hidden;
	position: relative;
}

.colored-box h3 {
	color: #7c5cc4;
}

.colored-box hr {
	background-color: rgba(255,255,255,0.5)
}

.colored-box i {
	color: #adad85;
	font-size: 170px;
	opacity: 0.07;
	position: absolute;
	right: -10px;
	top: 25%;
}

.colored-box.green-bg {
	background-color: #289920;
	min-height: 110px !important;
}

.purple-bg {
	background-color: #8e44ad;
}

.orange-bg {
	background-color: #fa603d;
	min-height: 110px !important;
}

.red-bg {
	background-color: #ff3030;
}

.blue-bg {
	background-color: #014463;
}

.yellow-bg {
	background-color: #f78b38;
}

.light-blue-bg {
	background-color: #138496;
}

a:focus,button:focus,.btn:focus {
	outline: none;
	box-shadow: none;
}

.btn-default.btn-primary:hover {
	color: #FFF;
}

.btn-info:focus,.btn-primary:focus {
	color: #FFF;
}

.btn.btn-default,
.btn.btn-default:focus {
	background-color: #FFF;
	border: 1px solid #7c5cc4;
	color: #7c5cc4;
}

.btn.btn-default:focus {
	background-color: #FFF;
	border: 1px solid #ddd;
	color: #666;
	box-shadow: none;
}

.btn-primary.active {
	background-color: transparent !important;
	border: 2px solid #7c5cc4 !important;
	box-shadow: none !important;
	color: #7c5cc4 !important;
}

.table tr td {
	vertical-align: middle;
}

.count-title {
	background: #FFF;
	border: 1px solid #ddd;
	box-shadow: 0 10px 15px rgba(0,0,0,0.02);
	padding: 15px;
}

.dashboard-counts {
	padding: 10px 0;
}

.filter-toggle {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.filter-toggle li {
	display: inline-block;
}

.count-title .icon {
	border: 1px solid #7c5cc4;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 15px;
}

.count-title .count-number {
	font-size: 1.2em;
	font-weight: 600;
}

.product-link, .product-img, .sale-link, .return-link, .purchase-link, .transfer-link, .quotation-link{
	cursor: pointer;
}

.bootstrap-select .btn-link {
	color: #7c5cc4;
}

.daterangepicker .custom-range-buttons button.apply-btn,
.daterangepicker .custom-range-buttons button.apply-btn:hover {
    background: #7c5cc4;
}

div.ui-keyboard {
	position: fixed;
	z-index: 2000;
	top: auto !important;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 180px;
	background-color:rgba(255,255,255,0.8);
}
.ui-keyboard-button {
	min-width: 3em;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
	background: #7c5cc4;
	width: 300px;
	padding: 15px;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li.ui-menu-item {
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
	list-style: none;
	padding: 5px 10px;
	padding-left: 0;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li.ui-menu-item:hover {
	opacity: 0.7;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

p.top-border {
	border-top: 1px solid #000;
	width: 50%
}

th span.number-in-words{
	text-transform: uppercase;
}

@media print {
    .hide-element {
        display:none
    }
}

/*--------Written by Tarik -----------*/

.btn-primary {
    background-color: #7c5cc4;
    border-color: #7c5cc4;
}

.btn-primary:hover {
    background-color: #6244a6;
    border-color: #6244a6;
}

a:hover {
	text-decoration: none;
}

.form-control:focus {
	border: 1px solid #7c5cc4;
	box-shadow: none;
}

.btn-group.bootstrap-select {
	border: 1px solid #ced4da;
	border-radius: 0;
}

.table th {
    border-top: 1px solid #7c5cc4;
}

.table thead th {
    border-bottom: 1px solid #7c5cc4;
}

table.dataTable {
    border-collapse: collapse !important;
}

section {
	padding: 30px 0;
}

.side-navbar .sidenav-header {
    background: #7c5cc4;
    margin-bottom: 0;
    padding: 0;
}

.side-navbar .brand-big {
    line-height: 60px;
}

.side-navbar .brand-big i {
    font-size: 26px;
    vertical-align: middle;
}

.side-navbar li a {
    padding: 5px 10px;
}

.side-navbar li a i {
    vertical-align: middle;
}

.side-navbar li a:hover {
    background: rgba(255,255,255,0.2);
}

.side-navbar li ul li a:hover, .side-navbar li ul li.active a{
    background: #7c5cc4 !important;
}

.side-navbar li ul.collapse a:hover {
    padding-left: 15px;
}

nav.navbar a.menu-btn {
    background: transparent;
    border: 1px solid #7c5cc4;
    color: #7c5cc4;
}

nav.navbar a.menu-btn:hover {
    background: #7c5cc4;
    border: 1px solid #7c5cc4;
    color: #FFF;
}

.navbar-brand {
	padding: 0;
}

.brand-text h3 {
	color: #7c5cc4;
	font-weight: 300;
}

.brand-text h3 span {
	font-weight: 500;
}

nav.navbar {
    background: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 65px;
    padding: 0;
}

nav.navbar a {
    color: #7c5cc4;
    line-height: 60px;
}

nav.navbar .nav-item a i {
    color: #7c5cc4;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

nav.navbar .nav-item .edit-options a i {
    color: #FFF;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

nav.navbar .notifications {
    width: 260px;
}

nav.navbar .nav-item li.notifications a i{
	color: #fff;
}

.dropdown-item {
    padding: 0 0.5rem;
    color: #212529;
}

.dropdown-item.selected{
	background-color: #7c5cc4;
	color: #fff;
}

.dataTables_wrapper {
	margin-top: 30px;
}

.dataTables_filter,
.dataTables_length,
.dt-buttons {
	float: left;
	vertical-align: middle;
	width: 50%;
}

.dt-buttons {
	float: right;
}

.dt-buttons button {
	padding: 0.25rem 0.75rem;
}

.dt-buttons button span {
	color: #FFF;
}

.dt-button-collection.dropdown-menu {
	background: #7c5cc4;
	padding: 10px 15px;
}

.dt-button-collection.dropdown-menu a {
	background: transparent;
	font-size: 14px;
	line-height: 30px;
}

.buttons-pdf {
	background: #d8121f;
	border: none;
}

.buttons-csv {
	background: #f9d95e;
	border: none;
}

.buttons-print {
	background: #007fff;
	border: none;
}

.buttons-collection {
	background: #7c5cc4;
	border: none;
}

.dataTables_info,
.dataTables_paginate {
	display: table-cell;
	width: 50%;
}

.dataTables_paginate {
	text-align: right;
}

.dropdown-menu.edit-options {
	background: #7c5cc4;
	border: none;
}

.dropdown-menu.edit-options li a,
.dropdown-menu.edit-options li .btn-link {
	color: #FFF;
	display: block;
	text-align: left;
	text-decoration: none;
	width: 100%;
}

.dropdown-menu.edit-options li a:hover,
.dropdown-menu.edit-options li .btn-link:hover {
	opacity: 0.7
}

.table.totals tr td {
	vertical-align: middle;
}

.table.order-list tr td .btn-link,
.table.totals tr td .btn-link {
	color: #7c5cc4;
}

#product-table_wrapper.dataTables_wrapper {
	margin-top: 0;
	padding: 0;
}

table#product-table.dataTable {
	border-collapse: separate !important;
}

#product-table_paginate {
	margin-top: 15px;
	float: right;
}

#product-table_paginate .page-link{
	line-height: 1;
}
.product-img {
	border: 1px solid #eee;
	margin-bottom: 0;
	padding: 15px 7px 0;
	text-align: center;
	text-transform: capitalize;
	width: 25%;
}

.product-img img {
	height: 70px;
	max-width: 100%;
	width: auto;
}


.product-img:hover {
	border: 1px solid #7c5cc4;
}

.product-img p {
	margin: 15px 0 0;
}

.product-img:hover p {
	color: #7c5cc4;
}

.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 250px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tr {
	clear: both;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.column-5{
	width: 25%;
	float: left;
	margin: 0;
	margin-bottom: 10px;
	padding: 0 5px;
}

.btn-custom {
	display: block;
	font-size: 20px;
	line-height: 60px;
	width: 100%;
	color: #FFF;
	background: #7c5cc4;
}

.btn-custom.sm {
	line-height: 18px;
	font-size: 15px;
	margin-bottom: 5px
}

.pos-btn {
	line-height: 2.5;
}

.pos-text {
	line-height: 1.8;
}

.product-title{
	text-transform: capitalize;
}

.dataTables_info,
.dataTables_paginate {
    display: table-cell;
    width: 50%;
    float: left;
}

.pos .bootstrap-select.form-control:not([class*="col-"]){
	width: auto;
}

.pos .bootstrap-select button{
	padding-right: 21px !important
}

#myTable .input-group{
	max-width: 150px;
}

@media all and (min-width:576px){
	.modal-dialog {
		max-width: 800px;
	}
}

